
body{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:70px;
}
h2{
    font-size: 60px;
}
.top-color{
    color: tomato;
}
.anchor-text{
    background-color: crimson;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px; 
    font-weight:900;   
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width img{
    width:100%;
}