
body{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:70px;
}
h2{
    font-size: 60px;
}
.top-color{
    color: tomato;
}
.anchor-text{
    background-color: crimson;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px; 
    font-weight:900;   
}
.flixible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:5%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width img{
    width:100%;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px crimson;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
#full-stack{
    border-left: 5px solid;
    border-image:linear-gradient(tomato,darkorange);
    border-image-slice:1;
}
#baby-devo{
    border-left:5px solid;
    border-image:linear-gradient(pink,salmon);
    border-image-slice:1;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    position:left;
}
.last-section-header{
    color:#ff4500;
}